html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: #1B1B1B;
}

body {
  background-color: #FAFAFA;
  width: 800px;
  margin: auto;
  height: 100%;
  min-height: 600px;
}

body .header {
    height: 50px;
    background-color: #1B1B1B;
}

body .container {
  padding: 20px 30px;
}

body .container form {
    padding: 0px 20px 10px 0px;
    border-bottom: 1px solid #000000;
}

body .container form input.code {
    width: 65px;
}

body .container #map {
  height: 500px;
  width: 100%;
 }
